{% extends "email/base.html" %}
{% block title %}Reset your {{ product_name }} password{% endblock %}
{% block content %}
<p>We received a request to reset the password for your account. Click the button below to set a new password.</p>
<div class="btn-wrapper">
  <a href="{{ reset_url }}" class="btn">Reset Password</a>
</div>
<p class="url-fallback">If the button doesn't work, copy and paste this URL into your browser:<br>{{ reset_url }}</p>
<p>This link expires in 30 minutes. If you didn't request a password reset, you can safely ignore this message — your password will not be changed.</p>
{% endblock %}
